
body {
    background: url(./components/images/background-1.jpg) no-repeat center center fixed;
    -webkit-backgroun: cover;
    -moz-backgroun: cover;
    -o-backgroun: cover;
    background: cover;
}